In [35]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
### IMPORT DATA, PERFORM PRE-PROCESSING
rawdata = pd.read_csv("finalProjectSample.csv")

data=rawdata.drop(['Unnamed: 0'],axis=1)
# convert termination_process_ts to datetime, then extract only the date (ignore the time)
data['FiredDate'] = pd.to_datetime(data.TERMINATION_PROCESS_TS, infer_datetime_format=True).dt.date
# do the same for report_dt and hire_process_ts
data['ReportDate'] = pd.to_datetime(data.REPORT_DT, infer_datetime_format=True).dt.date
data['hiredDate'] = pd.to_datetime(data.HIRE_PROCESS_TS, infer_datetime_format=True).dt.date
# generate a dummy determining if individual was fired today
# changed to inequality from equality, since reporting only occurs every 2 days
#     and some individuals quit on the day between reports
data['FiredToday'] = [int(data.FiredDate[x]<=data.ReportDate[x]) for x in range(len(data))]

# process veteran_flg
data['Vet'] = [int(data.VETERAN_FLG[x]=='Y') for x in range(len(data))]

# process tenure variable as timedelta type
data['daysWorked'] = (data.ReportDate - data.hiredDate).astype('timedelta64[D]')

# process report date as datetime in order to extract day, month, and year info
data['ReportDate'] = data['ReportDate'] .astype('datetime64[ns]')
data['rDay'] = data.ReportDate.dt.dayofweek
data['rMonth'] = data.ReportDate.dt.month
data['rYear'] = data.ReportDate.dt.year

# generate dummy variables based on available categorical variables
data = pd.concat([data, pd.get_dummies(data.Max_Students, prefix='hireType', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data.STATE_CD, prefix='state', drop_first=True)], axis=1)
# Changed to drop_first=False to get LongHaul dummy
data = pd.concat([data, pd.get_dummies(data.Driver_type, prefix='driver')], axis=1)
data = pd.concat([data, pd.get_dummies(data.rDay, prefix='day', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data.rMonth, prefix='month', drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data.rYear, prefix='year', drop_first=True)], axis=1)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
#Create descriptive statistics summary
summ = data.describe().transpose()
print(summ)
summ.to_csv('DescriptiveStatistics.csv')
descriptiveStatistics = pd.read_csv('DescriptiveStatistics.csv').round(0)

                               count           mean            std       min  \
Unique_ID                   126312.0  149729.280963   22438.711960  100277.0
Age                         126312.0      39.227856      11.078927      19.0
Max_Students                126312.0     559.012604     465.757234       0.0
Retention (Days)            126312.0    1261.527321    1725.607792       0.0
SEGMENT_LINEHAUL_MILES_QTY  126312.0  217930.612618  236426.355871       0.0
...                              ...            ...            ...       ...
month_11                    126312.0       0.068006       0.251758       0.0
month_12                    126312.0       0.070460       0.255922       0.0
year_2015                   126312.0       0.282040       0.449994       0.0
year_2016                   126312.0       0.271194       0.444578       0.0
year_2017                   126312.0       0.167854       0.373738       0.0

                                 25%       50%       75%       max
Unique_ID                   135833.0  152114.0  169155.0  183493.0
Age                             29.0      40.0      47.0      76.0
Max_Students                     0.0     500.0    1000.0    1000.0
Retention (Days)               217.0     547.0    1454.0    8263.0
SEGMENT_LINEHAUL_MILES_QTY   42057.0  111090.0  354786.0  972104.0
...                              ...       ...       ...       ...
month_11                         0.0       0.0       0.0       1.0
month_12                         0.0       0.0       0.0       1.0
year_2015                        0.0       0.0       1.0       1.0
year_2016                        0.0       0.0       1.0       1.0
year_2017                        0.0       0.0       0.0       1.0

[92 rows x 8 columns]

In [37]:
data['TERMINATION_TYPE_CD'].value_counts()

# Filtering VQUIT, ACTIVE
data=data[(data['TERMINATION_TYPE_CD']=='VQUIT') | (data['TERMINATION_TYPE_CD']=='ACTIVE')]

In [38]:
# Dependent Variable creation
#===============================
data['DaysuntilQuit'] = (data.FiredDate - pd.to_datetime(data.REPORT_DT, infer_datetime_format=True).dt.date).astype('timedelta64[D]')
data=data[data['DaysuntilQuit']>0]
data=data.reset_index()

data['Quitwithin30days']=np.where(data['DaysuntilQuit']<=30,1,0) #<- dependent variable

In [39]:
data['percent_miles_pay']=data['percent_miles_pay'].fillna(0)
data['PayDay']=np.where(data['percent_miles_pay']==0,0,1)

In [40]:
# Variables from last n days - change TIMEWINDOW variable to change days

TIMEWINDOW=30
data.loc[:,'Milesinlast30days']=data.groupby(['Unique_ID'])['Miles_Quantity_Total'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'Milesinlast30days']=data.loc[:,'Milesinlast30days'].fillna(0)
data.loc[:,'PayDaysinlast30days']=data.groupby(['Unique_ID'])['PayDay'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'PayDaysinlast30days']=data.loc[:,'PayDaysinlast30days'].fillna(0)
data.loc[:,'RegionalDrivinglast30days']=data.groupby(['Unique_ID'])['driver_Regional'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'RegionalDrivinglast30days']=data.loc[:,'RegionalDrivinglast30days'].fillna(0)
data.loc[:,'SpecRegionalDrivinglast30days']=data.groupby(['Unique_ID'])['driver_Specialized Regional'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'SpecRegionalDrivinglast30days']=data.loc[:,'SpecRegionalDrivinglast30days'].fillna(0)
data.loc[:,'TeamDrivinglast30days']=data.groupby(['Unique_ID'])['driver_Team'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'TeamDrivinglast30days']=data.loc[:,'TeamDrivinglast30days'].fillna(0)
data.loc[:,'TraineeDrivinglast30days']=data.groupby(['Unique_ID'])['driver_Trainee'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'TraineeDrivinglast30days']=data.loc[:,'TraineeDrivinglast30days'].fillna(0)
data.loc[:,'LongHaulDrivinglast30days']=data.groupby(['Unique_ID'])['driver_Long Haul'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'LongHaulDrivinglast30days']=data.loc[:,'LongHaulDrivinglast30days'].fillna(0)
data.loc[:,'ActiveProdLast30days']=data.groupby(['Unique_ID'])['ACTIVE_PRODUCTION_STATE_CNT'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'ActiveProdLast30days']=data.loc[:,'ActiveProdLast30days'].fillna(0)
data.loc[:,'AvailProdLast30days']=data.groupby(['Unique_ID'])['AVAILABLE_PRODUCTION_STATE_CNT'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'AvailProdLast30days']=data.loc[:,'AvailProdLast30days'].fillna(0)
data.loc[:,'InvProdLast30days']=data.groupby(['Unique_ID'])['INVALID_PRODUCTION_STATE_CNT'].rolling(TIMEWINDOW,min_periods=2).sum().reset_index(0,drop=True)
data.loc[:,'InvProdLast30days']=data.loc[:,'InvProdLast30days'].fillna(0)
#data.loc[:,'DaysWithCompanyLast30days']=data.groupby(['Unique_ID'])['daysWorked'].rolling(TIMEWINDOW,min_periods=1).max().reset_index(0,drop=True)
#data.loc[:,'DaysWithCompanyLast30days']=data.loc[:,'DaysWithCompanyLast30days'].fillna(0)

In [41]:
data[data['Unique_ID']==100277][['Unique_ID','ReportDate','Milesinlast30days','PayDaysinlast30days','RegionalDrivinglast30days','SpecRegionalDrivinglast30days','TeamDrivinglast30days','TraineeDrivinglast30days','LongHaulDrivinglast30days','ActiveProdLast30days','InvProdLast30days']].head(60)

,Unique_ID,ReportDate,Milesinlast30days,PayDaysinlast30days,RegionalDrivinglast30days,SpecRegionalDrivinglast30days,TeamDrivinglast30days,TraineeDrivinglast30days,LongHaulDrivinglast30days,ActiveProdLast30days,InvProdLast30days
0,100277,2014-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100277,2014-01-03,505.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0
2,100277,2014-01-05,505.0,1.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0
3,100277,2014-01-07,505.0,1.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
4,100277,2014-01-09,714.0,2.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0
5,100277,2014-01-11,714.0,2.0,6.0,0.0,0.0,0.0,0.0,6.0,0.0
6,100277,2014-01-13,923.0,2.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0
7,100277,2014-01-15,923.0,2.0,8.0,0.0,0.0,0.0,0.0,8.0,0.0
8,100277,2014-01-17,1544.0,2.0,9.0,0.0,0.0,0.0,0.0,9.0,0.0
9,100277,2014-01-19,1769.0,2.0,10.0,0.0,0.0,0.0,0.0,10.0,0.0
10,100277,2014-01-21,1978.0,2.0,11.0,0.0,0.0,0.0,0.0,11.0,0.0
11,100277,2014-01-23,2261.0,3.0,12.0,0.0,0.0,0.0,0.0,12.0,0.0
12,100277,2014-01-25,2261.0,3.0,13.0,0.0,0.0,0.0,0.0,13.0,0.0
13,100277,2014-01-27,2799.0,3.0,14.0,0.0,0.0,0.0,0.0,14.0,0.0
14,100277,2014-01-29,2799.0,3.0,15.0,0.0,0.0,0.0,0.0,15.0,0.0
15,100277,2014-01-31,2799.0,3.0,16.0,0.0,0.0,0.0,0.0,16.0,0.0
16,100277,2014-02-02,3006.0,3.0,17.0,0.0,0.0,0.0,0.0,17.0,0.0
17,100277,2014-02-04,3213.0,3.0,18.0,0.0,0.0,0.0,0.0,18.0,0.0
18,100277,2014-02-06,3540.0,4.0,19.0,0.0,0.0,0.0,0.0,19.0,0.0
19,100277,2014-02-08,3540.0,4.0,20.0,0.0,0.0,0.0,0.0,20.0,0.0
20,100277,2014-02-10,3747.0,4.0,21.0,0.0,0.0,0.0,0.0,21.0,0.0
21,100277,2014-02-12,3747.0,4.0,22.0,0.0,0.0,0.0,0.0,22.0,0.0
22,100277,2014-02-14,3974.0,4.0,23.0,0.0,0.0,0.0,0.0,23.0,0.0
23,100277,2014-02-16,3974.0,4.0,24.0,0.0,0.0,0.0,0.0,24.0,0.0
24,100277,2014-02-18,4508.0,4.0,25.0,0.0,0.0,0.0,0.0,25.0,0.0
25,100277,2014-02-20,4830.0,5.0,26.0,0.0,0.0,0.0,0.0,26.0,0.0
26,100277,2014-02-22,4830.0,5.0,27.0,0.0,0.0,0.0,0.0,27.0,0.0
27,100277,2014-02-24,5321.0,5.0,28.0,0.0,0.0,0.0,0.0,28.0,0.0
28,100277,2014-02-26,5920.0,5.0,29.0,0.0,0.0,0.0,0.0,29.0,0.0
29,100277,2014-02-28,5920.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
30,100277,2014-03-02,6129.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
31,100277,2014-03-04,5932.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
32,100277,2014-03-06,6151.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
33,100277,2014-03-08,6151.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
34,100277,2014-03-10,6633.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
35,100277,2014-03-12,6633.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
36,100277,2014-03-14,6800.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
37,100277,2014-03-16,6800.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
38,100277,2014-03-18,7249.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
39,100277,2014-03-20,7024.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
40,100277,2014-03-22,6815.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
41,100277,2014-03-24,6532.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
42,100277,2014-03-26,6532.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
43,100277,2014-03-27,6529.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
44,100277,2014-03-29,6529.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
45,100277,2014-03-31,7064.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
46,100277,2014-04-02,7262.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
47,100277,2014-04-04,7055.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
48,100277,2014-04-06,6728.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
49,100277,2014-04-08,7104.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
50,100277,2014-04-10,7432.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
51,100277,2014-04-12,7432.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
52,100277,2014-04-14,7393.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
53,100277,2014-04-16,7798.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
54,100277,2014-04-18,7799.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
55,100277,2014-04-20,7477.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
56,100277,2014-04-22,7853.0,4.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
57,100277,2014-04-24,7897.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
58,100277,2014-04-26,7298.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
59,100277,2014-04-28,7833.0,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0

In [42]:
#Label Encoders
data['GENDER_CD'] = [int(data.GENDER_CD[x]=='M ') for x in range(len(data))]
data['GENDER_CD']

0         1
1         1
2         1
3         1
4         1
         ..
115157    1
115158    1
115159    1
115160    1
115161    1
Name: GENDER_CD, Length: 115162, dtype: int64

In [43]:
le1 = preprocessing.LabelEncoder() 
le1=le1.fit(data['REASON_CD'])
list(le1.classes_) 
data['REASON_CD']=le1.transform(data['REASON_CD'])

In [44]:
le2 = preprocessing.LabelEncoder() 
le2=le2.fit(data['REHIRED'])
list(le2.classes_) 
data['REHIRED']=le2.transform(data['REHIRED'])

In [45]:
le3 = preprocessing.LabelEncoder() 
le4=le3.fit(data['STATE_CD'])
list(le3.classes_) 
data['STATE_CD']=le3.transform(data['STATE_CD'])

In [46]:
data['CSA Count']=data['CSA Count'].fillna(0)

In [47]:
vardata=data[['Quitwithin30days','Age','GENDER_CD','Vet','hireType_500','hireType_1000','TERMINATION_TYPE_CD','REASON_CD','CSA Count','REHIRED','STATE_CD','Milesinlast30days','PayDaysinlast30days','RegionalDrivinglast30days','SpecRegionalDrivinglast30days','TeamDrivinglast30days','TraineeDrivinglast30days','LongHaulDrivinglast30days','ActiveProdLast30days','InvProdLast30days']]
vardata

,Quitwithin30days,Age,GENDER_CD,Vet,hireType_500,hireType_1000,TERMINATION_TYPE_CD,REASON_CD,CSA Count,REHIRED,STATE_CD,Milesinlast30days,PayDaysinlast30days,RegionalDrivinglast30days,SpecRegionalDrivinglast30days,TeamDrivinglast30days,TraineeDrivinglast30days,LongHaulDrivinglast30days,ActiveProdLast30days,InvProdLast30days
0,0,53,1,0,0,1,VQUIT,17,1.0,0,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,53,1,0,0,1,VQUIT,17,1.0,0,41,505.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0
2,0,53,1,0,0,1,VQUIT,17,1.0,0,41,505.0,1.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0
3,0,53,1,0,0,1,VQUIT,17,1.0,0,41,505.0,1.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
4,0,53,1,0,0,1,VQUIT,17,1.0,0,41,714.0,2.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115157,1,45,1,1,0,0,VQUIT,16,0.0,0,38,3441.0,3.0,30.0,0.0,0.0,0.0,0.0,19.0,0.0
115158,1,45,1,1,0,0,VQUIT,16,0.0,0,38,3441.0,3.0,30.0,0.0,0.0,0.0,0.0,18.0,0.0
115159,1,45,1,1,0,0,VQUIT,16,0.0,0,38,3302.0,3.0,30.0,0.0,0.0,0.0,0.0,17.0,0.0
115160,1,45,1,1,0,0,VQUIT,16,0.0,0,38,3302.0,3.0,30.0,0.0,0.0,0.0,0.0,16.0,0.0
115161,1,45,1,1,0,0,VQUIT,16,0.0,0,38,3124.0,3.0,30.0,0.0,0.0,0.0,0.0,15.0,0.0

In [48]:
#Create descriptive statistics summary
summ = vardata.describe().transpose()
print(summ)
summ.to_csv('DescriptiveStatistics.csv')
descriptiveStatistics = pd.read_csv('DescriptiveStatistics.csv').round(0)

                                  count         mean          std  \
Quitwithin30days               115162.0     0.110045     0.312947
Age                            115162.0    39.062408    10.828179
GENDER_CD                      115162.0     0.906436     0.291222
Vet                            115162.0     0.182048     0.385886
hireType_500                   115162.0     0.115403     0.319509
hireType_1000                  115162.0     0.496605     0.499991
REASON_CD                      115162.0     8.778773     8.865800
CSA Count                      115162.0     0.484769     1.058233
REHIRED                        115162.0     0.163335     0.369673
STATE_CD                       115162.0    18.277140    14.120609
Milesinlast30days              115162.0  6253.391693  3515.917441
PayDaysinlast30days            115162.0     3.005827     1.800008
RegionalDrivinglast30days      115162.0    10.331568    13.409429
SpecRegionalDrivinglast30days  115162.0     4.333817     9.914426
TeamDrivinglast30days          115162.0     4.343004     9.152521
TraineeDrivinglast30days       115162.0     0.503126     1.612017
LongHaulDrivinglast30days      115162.0     7.372258    11.817843
ActiveProdLast30days           115162.0    24.226160     9.374926
InvProdLast30days              115162.0     0.286622     0.875213

                                        min     25%     50%      75%      max
Quitwithin30days               0.000000e+00     0.0     0.0     0.00      1.0
Age                            1.900000e+01    29.0    39.0    46.00     76.0
GENDER_CD                      0.000000e+00     1.0     1.0     1.00      1.0
Vet                            0.000000e+00     0.0     0.0     0.00      1.0
hireType_500                   0.000000e+00     0.0     0.0     0.00      1.0
hireType_1000                  0.000000e+00     0.0     0.0     1.00      1.0
REASON_CD                      0.000000e+00     0.0     8.0    16.00     30.0
CSA Count                      0.000000e+00     0.0     0.0     1.00      7.0
REHIRED                        0.000000e+00     0.0     0.0     0.00      1.0
STATE_CD                       0.000000e+00     7.0    12.0    32.00     46.0
Milesinlast30days             -7.503331e-12  3698.0  6583.5  8776.45  20910.5
PayDaysinlast30days            0.000000e+00     2.0     4.0     4.00      8.0
RegionalDrivinglast30days      0.000000e+00     0.0     0.0    29.00     30.0
SpecRegionalDrivinglast30days  0.000000e+00     0.0     0.0     0.00     30.0
TeamDrivinglast30days          0.000000e+00     0.0     0.0     0.00     30.0
TraineeDrivinglast30days       0.000000e+00     0.0     0.0     0.00     27.0
LongHaulDrivinglast30days      0.000000e+00     0.0     0.0    12.00     30.0
ActiveProdLast30days           0.000000e+00    22.0    30.0    30.00     30.0
InvProdLast30days              0.000000e+00     0.0     0.0     0.00      7.0

In [49]:
traindata=vardata[vardata['TERMINATION_TYPE_CD']=='VQUIT'].drop('TERMINATION_TYPE_CD',axis=1)

In [50]:
testdata=vardata=vardata[vardata['TERMINATION_TYPE_CD']=='ACTIVE'].drop('TERMINATION_TYPE_CD',axis=1)

In [51]:
traindata

,Quitwithin30days,Age,GENDER_CD,Vet,hireType_500,hireType_1000,REASON_CD,CSA Count,REHIRED,STATE_CD,Milesinlast30days,PayDaysinlast30days,RegionalDrivinglast30days,SpecRegionalDrivinglast30days,TeamDrivinglast30days,TraineeDrivinglast30days,LongHaulDrivinglast30days,ActiveProdLast30days,InvProdLast30days
0,0,53,1,0,0,1,17,1.0,0,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,53,1,0,0,1,17,1.0,0,41,505.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0
2,0,53,1,0,0,1,17,1.0,0,41,505.0,1.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0
3,0,53,1,0,0,1,17,1.0,0,41,505.0,1.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
4,0,53,1,0,0,1,17,1.0,0,41,714.0,2.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115157,1,45,1,1,0,0,16,0.0,0,38,3441.0,3.0,30.0,0.0,0.0,0.0,0.0,19.0,0.0
115158,1,45,1,1,0,0,16,0.0,0,38,3441.0,3.0,30.0,0.0,0.0,0.0,0.0,18.0,0.0
115159,1,45,1,1,0,0,16,0.0,0,38,3302.0,3.0,30.0,0.0,0.0,0.0,0.0,17.0,0.0
115160,1,45,1,1,0,0,16,0.0,0,38,3302.0,3.0,30.0,0.0,0.0,0.0,0.0,16.0,0.0
115161,1,45,1,1,0,0,16,0.0,0,38,3124.0,3.0,30.0,0.0,0.0,0.0,0.0,15.0,0.0

In [52]:
traindata.columns

Index(['Quitwithin30days', 'Age', 'GENDER_CD', 'Vet', 'hireType_500',
       'hireType_1000', 'REASON_CD', 'CSA Count', 'REHIRED', 'STATE_CD',
       'Milesinlast30days', 'PayDaysinlast30days', 'RegionalDrivinglast30days',
       'SpecRegionalDrivinglast30days', 'TeamDrivinglast30days',
       'TraineeDrivinglast30days', 'LongHaulDrivinglast30days',
       'ActiveProdLast30days', 'InvProdLast30days'],
      dtype='object')

In [53]:
testdata

,Quitwithin30days,Age,GENDER_CD,Vet,hireType_500,hireType_1000,REASON_CD,CSA Count,REHIRED,STATE_CD,Milesinlast30days,PayDaysinlast30days,RegionalDrivinglast30days,SpecRegionalDrivinglast30days,TeamDrivinglast30days,TraineeDrivinglast30days,LongHaulDrivinglast30days,ActiveProdLast30days,InvProdLast30days
1240,0,42,0,0,1,0,0,2.0,1,19,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1241,0,42,0,0,1,0,0,2.0,1,19,0.00,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1242,0,42,0,0,1,0,0,2.0,1,19,0.00,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
1243,1,42,0,0,1,0,0,2.0,1,19,0.00,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
1244,1,42,0,0,1,0,0,2.0,1,19,0.00,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114500,1,46,1,0,0,0,0,0.0,0,3,9984.65,6.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
114501,1,46,1,0,0,0,0,0.0,0,3,10605.40,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
114502,1,46,1,0,0,0,0,0.0,0,3,10627.50,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
114503,1,46,1,0,0,0,0,0.0,0,3,11107.20,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0
114504,1,46,1,0,0,0,0,0.0,0,3,11153.35,5.0,30.0,0.0,0.0,0.0,0.0,30.0,0.0

In [54]:
y_train=traindata['Quitwithin30days']
X_train=traindata.drop('Quitwithin30days',axis=1)
y_test=testdata['Quitwithin30days']
X_test=testdata.drop('Quitwithin30days',axis=1)

In [55]:
from sklearn.linear_model import LogisticRegression
#for Train/Test K-Fold Cross-Validation scoring
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, recall_score
#Random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [56]:
rfc= RandomForestClassifier().fit(X_train,y_train)
rfc_pred=rfc.predict(X_test)

/opt/conda/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [57]:
# Random Forest Classifier
rfc= RandomForestClassifier().fit(X_train,y_train)
rfc_pred=rfc.predict(X_test)
# Checking accuracy
print('Test accuracy score:',accuracy_score(y_test,rfc_pred))

/opt/conda/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Test accuracy score: 0.8884607891945713

In [58]:
# Checking f1
print('Test f1 score:',accuracy_score(y_test,rfc_pred))
# Checking recall
print('Test recall score',recall_score(y_test,rfc_pred))

#Checking unique values
predictions=pd.DataFrame(rfc_pred)
predictions[0].value_counts()

Test f1 score: 0.8884607891945713
Test recall score 0.052479338842975204

0    43212
1     2987
Name: 0, dtype: int64

In [59]:
# Logistic Regression
lr = LogisticRegression(solver='liblinear').fit(X_train,y_train)
print('logreg train score:',lr.score(X_train,y_train))
print('logreg test score:',lr.score(X_test,y_test))

logreg train score: 0.8441773124719052
logreg test score: 0.9195653585575445

In [60]:
import numpy as np
import pandas as pd
import patsy as pt
import statsmodels.api as sm

y, x = pt.dmatrices('Quitwithin30days ~ Age + GENDER_CD + Vet + hireType_500 + hireType_1000 + REASON_CD + REHIRED + STATE_CD + Milesinlast30days + PayDaysinlast30days + RegionalDrivinglast30days + SpecRegionalDrivinglast30days + TeamDrivinglast30days + TraineeDrivinglast30days + LongHaulDrivinglast30days + ActiveProdLast30days + InvProdLast30days', data = traindata)

model = sm.Logit(y, x)

reg = model.fit()

print(reg.summary())

Optimization terminated successfully.
         Current function value: 0.382177
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:       Quitwithin30days   No. Observations:                68963
Model:                          Logit   Df Residuals:                    68945
Method:                           MLE   Df Model:                           17
Date:                Mon, 14 Dec 2020   Pseudo R-squ.:                 0.09093
Time:                        05:00:55   Log-Likelihood:                -26356.
converged:                       True   LL-Null:                       -28992.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                        -2.7475      0.083    -33.092      0.000      -2.910      -2.585
Age                              -0.0097      0.001     -9.181      0.000      -0.012      -0.008
GENDER_CD                         0.3977      0.040      9.927      0.000       0.319       0.476
Vet                               0.0052      0.032      0.162      0.871      -0.058       0.069
hireType_500                      0.3916      0.038     10.176      0.000       0.316       0.467
hireType_1000                     0.3942      0.032     12.396      0.000       0.332       0.456
REASON_CD                         0.0200      0.002     11.109      0.000       0.016       0.024
REHIRED                           0.0892      0.034      2.653      0.008       0.023       0.155
STATE_CD                          0.0086      0.001     10.838      0.000       0.007       0.010
Milesinlast30days             -8.234e-05   5.84e-06    -14.100      0.000   -9.38e-05   -7.09e-05
PayDaysinlast30days               0.0977      0.010      9.620      0.000       0.078       0.118
RegionalDrivinglast30days         0.0881      0.002     40.537      0.000       0.084       0.092
SpecRegionalDrivinglast30days     0.0901      0.002     38.866      0.000       0.086       0.095
TeamDrivinglast30days             0.0971      0.002     43.669      0.000       0.093       0.102
TraineeDrivinglast30days          0.1431      0.006     22.878      0.000       0.131       0.155
LongHaulDrivinglast30days         0.0956      0.002     43.451      0.000       0.091       0.100
ActiveProdLast30days             -0.0924      0.003    -36.756      0.000      -0.097      -0.088
InvProdLast30days                -0.0261      0.014     -1.843      0.065      -0.054       0.002
=================================================================================================

In [61]:
# Marginal Effect
MA = reg.get_margeff(at = 'overall', method = 'dydx')
print(MA.summary())

        Logit Marginal Effects
=====================================
Dep. Variable:       Quitwithin30days
Method:                          dydx
At:                           overall
=================================================================================================
                                   dy/dx    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Age                              -0.0011      0.000     -9.181      0.000      -0.001      -0.001
GENDER_CD                         0.0456      0.005      9.933      0.000       0.037       0.055
Vet                               0.0006      0.004      0.162      0.871      -0.007       0.008
hireType_500                      0.0449      0.004     10.173      0.000       0.036       0.054
hireType_1000                     0.0452      0.004     12.391      0.000       0.038       0.052
REASON_CD                         0.0023      0.000     11.113      0.000       0.002       0.003
REHIRED                           0.0102      0.004      2.653      0.008       0.003       0.018
STATE_CD                          0.0010   9.09e-05     10.845      0.000       0.001       0.001
Milesinlast30days             -9.445e-06    6.7e-07    -14.097      0.000   -1.08e-05   -8.13e-06
PayDaysinlast30days               0.0112      0.001      9.631      0.000       0.009       0.013
RegionalDrivinglast30days         0.0101      0.000     41.924      0.000       0.010       0.011
SpecRegionalDrivinglast30days     0.0103      0.000     40.050      0.000       0.010       0.011
TeamDrivinglast30days             0.0111      0.000     45.233      0.000       0.011       0.012
TraineeDrivinglast30days          0.0164      0.001     23.125      0.000       0.015       0.018
LongHaulDrivinglast30days         0.0110      0.000     45.036      0.000       0.010       0.011
ActiveProdLast30days             -0.0106      0.000    -37.749      0.000      -0.011      -0.010
InvProdLast30days                -0.0030      0.002     -1.843      0.065      -0.006       0.000
=================================================================================================

In [62]:
pred=pd.DataFrame(rfc_pred,columns=['Quitwithin30days'])
pred

       Quitwithin30days
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
46194                 0
46195                 0
46196                 0
46197                 0
46198                 0

[46199 rows x 1 columns]

In [65]:
testdatawithID=data[data['TERMINATION_TYPE_CD']=='ACTIVE'][['Unique_ID']]
testdatawithID.reset_index(inplace=True,drop=True)
QuitList=pd.concat([pred,testdatawithID],axis=1)
QuitList=QuitList[QuitList['Quitwithin30days']==1][['Unique_ID']].drop_duplicates()

In [66]:
QuitList

       Unique_ID
57        101908
783       102006
933       102984
1108      103270
1785      103999
...          ...
40756     178384
41425     179880
43415     181352
43974     182150
45347     182639

[88 rows x 1 columns]